/*     RESET     */
::after,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  background-color: #f1f1f1;
}

/* Global */

.flux {
  padding: 10px 30px;
}

.layout {
  min-height: 100vh;
  color: #212529;
}

.title {
  color: #212529;
  text-align: center;
  padding-top: 5rem;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
}

a {
  text-decoration: none !important;
}

p {
  text-align: justify;
}

h3 {
  color: #212529;
  text-align: center;
  padding-top: 1rem;
}

h4 {
  color: #212529;
  text-align: center;
}

/* Accueil */
.layout-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1f1f1;
}

.layout-img img {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Sport Grid */
.contain {
  display: grid;
  grid-template-columns: repeat(auto-fill, 310px);
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

/* Evenement */
span {
  display: block;
  text-align: center;
}

.coral {
  color: coral;
}

.contain img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}
/* Contact */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid #9f9f9f;
}

.content-contact {
  margin: 40px;
}
.contact path {
  color: #212529;
}

/* Footer */

footer {
  background-color: #212529;
  padding: 20px;
}

path {
  color: #f1f1f1;
}

footer p {
  text-align: center;
  color: #f1f1f1;
}
